@import "../helpers/_variables.scss";


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $beige;
  color:$fontColor;
  margin:0;
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
}

a {
  color:$fontColor;
  text-decoration: none;
  @media screen and (min-width:1024px) {
    color:$fontColor;
  }
}

