@import "../helpers/_variables.scss";

.about {
  background-color: $white;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 2fr;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 2fr;
  }
  &__content {
    line-height: 1.7rem;
  }
  &__image {
    background-image: url("../assets/hand.jpg");
    background-size: cover;
    display: none;
    height: 100%;
    opacity: 0.5;
    width: 100%;
    z-index: 1;
    @media screen and (min-width: 1024px) {
      display: block;
    }
  }
  &__image2 {
    background-image: url("../assets/klaudia2.JPG");
    background-size: cover;
    background-position: 10% 30%;
    height: 40vh;
    @media screen and (min-width: 768px) {
      background-position: center;
      left: 0;
      position: absolute;
      width: 35%;
      height: 100%;
      top: 0;
      z-index: 2;
      overflow: hidden;
    }
    @media screen and (min-width: 1024px) {
      height: 80%;
      left: 15%;
      top: 10%;
      width: 35%;
    }
  }
  &__text {
    align-items: flex-start;
    background-color: &white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15% 10%;
    @media screen and (min-width: 1024px) {
      padding: 15%;
    }
  }
}

.header {
  background-color: $beige;
  box-shadow: 0 0 10px 0 $white;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  padding: 6px 16px;
  width: 100%;
  &__contact {
    align-items: center;
    display: flex;
    justify-content: start;
  }
  &__heading {
    align-items: center;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg,$green, $gold, $green, $gold );
    -webkit-background-clip: text;
    display: flex;
    font-size: 2rem;
    font-weight: 400;
    justify-content: center;
    margin: 0 20%;
    white-space: nowrap;
  }
  &__icon {
    margin-right: 16px;
  }
}

.main {
  background-color: $white;
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    height: 80vh;
  }
  &__content {
    line-height: 1.7rem;
    margin-bottom: 10%;
    padding-bottom: 0.83em;
  }
  &__heading {
    font-size: 1.6rem;
    margin: 0;
    @media screen and (min-width: 1050px) {
      font-size: 1.7rem;
    }
    @media screen and (min-width: 1200px) {
      font-size: 2rem;
    }
  }
  &__image {
    background-image: url("../assets/klaudia1.jpg");
    background-size: cover;
    padding: 6px;
    height: 70vh;
    width: 100%;
    @media screen and (min-width: 768px) {
      height: 70vh;
    }
    @media screen and (min-width: 1024px) {
      height: 100%;
    }
  }
  &__textContainer {
    background-color: $white;
    @media screen and (min-width: 1024px) {
      background-color: $green;
    }
   
  }
  &__text {
    background-color: $white;
    color: $fontColor;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1%;
    opacity: 0.9;
    padding: 26px;
    position: relative;
    @media screen and (min-width: 1024px) {
      margin: 2%;
    }
  }
  &__textBorder {
    background-color: transparent;
    border: 1px solid #fff;
    margin: 5%;
    @media screen and (min-width: 1024px) {
      margin: 0;
      position: relative;
      left: -100px;
      top: 100px;
      max-height: 60vh;
    }
  }
}

.nav {
  &__item {
    margin-left: 16px;
  }
  &__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
  }
}

.quot {
  background-color: $beige;

  text-align: center;
  padding: 8%;
  @media screen and (min-width: 1024px) {
    padding: 8% 16px;
  }
}

.footer {
  background-color: $darkGreen;
  color: #fff;
  padding: 30px 0 1px;
  text-align: left;
  &__article {
    display: flex;
    flex-direction: column;
    margin: 0 26px;
    padding: 16px 0;
    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0;
      width: 80vw;
      margin: 0 auto;
    }
    @media screen and (min-width: 1023px) {
      grid-template-columns: 1fr 2fr 2fr 1fr;
    }
  }
  &__author {
    border-top: 1px solid $beige;
    font-size: 0.8rem;
    text-align: center;
  }
  &__contact {
    margin-bottom: 1.5rem;
  }
  &__container {
    text-align: center;

    @media screen and (min-width: 768px) {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    @media screen and (min-width: 1024px) {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &__list {
    font-size: 0.9rem;
    list-style: none;
    margin-bottom: 1.5rem;
    padding: 0;
    &--special {
      display: block;
    }
  }
  &__logo {
    border-radius: 50%;
    margin: 0 0 32px;
    border: 50%;
    height: 250px;
    width: 250px;
    @media screen and (min-width: 1024px) {
      width: 50%;
      margin-bottom: 0;
    }
  }
  &__owner {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  &__special {
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0px;
    &--margin {
      margin-top: 1.5rem;
      @media screen and (min-width: 768px) {
        margin-top: 2.5rem;
      }
    }
  }
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer h5 {
  font-size: 1.5rem;
  font-weight: 600;
  color: $beige;
  text-transform: uppercase;
  margin: 0;
}

.alert {
  background-color: transparent;
  border: 1px solid $beige;
  color: $beige;
  font-size: 1rem;
  margin-bottom: 2rem;
  opacity: 0.8;
  width: 100%;
}
.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 10% 0;
  @media screen and (min-width: 1024px) {
    padding: 10%;
  }
  &__control {
    border: 0;
    border-radius: 0;
    color: $fontColor;
    font-size: 1rem;
    outline-color: transparent;
    margin: 6px;
    padding: 6px;
    width: 100%;
    &--message {
      height: 8rem;
    }
    &--file {
      font-size: 0.9rem;
    }
  }
  &__heading {
    margin: 2rem 0;
  }
  &__info {
    font-size: 0.8rem;
    text-align: left;
    width: 100%;
  }
}
.contactForm {
  text-align: center;
  overflow: hidden;
  background-color: $green;
  color: $white;
  padding: 0;
}
.formArea {
  background-color: $beige;
  color: $fontColor;
  display: grid;

  @media screen and (min-width: 1024px) {
    height: 60vh;
    grid-template-columns: 1fr 1fr;
  }
  &__frame {
    box-shadow: 0 0 10px 0 rgba(41, 51, 65, 0.15);
    height: 20rem;
    @media screen and (min-width: 1024px) {
      border: 1px solid $gold;
      height: 80%;
      margin: auto;
      padding: 0.5rem;
      width: 25vw;
    }
  }
  &__img {
    height: 40vh;
    object-fit: cover;
    object-position: center;
    width: 100%;
    @media screen and (min-width: 1024px) {
      height: 100%;
    }
  }
}

.offer {
  background-color: $green;
  color: $white;
  padding: 16px 10%;
  @media screen and (min-width: 1024px) {
    padding: 16px 7.5%;
  }
  &__heading {
    margin: 0;
  }
  &__img {
    height: calc(96% - 2px);
    width: calc(96% - 2px);
    margin: 2%;
    object-fit: cover;
    object-position: center;
  }
  // &__imgContainer {
  //   height: 150px;
  //   overflow: hidden;
  //   object-fit: cover;
  //   width: 150px;
  // }
  &__imgBorder {
    border: 1px solid $white;
  }
  &__item {
    width: 100%;
    margin: 16px auto;
  }
  &__list {
    column-gap: 26px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.button {
  background-image: linear-gradient(to left, $gold, $green);
  border: 0;
  bottom: 26px;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  padding: 16px;
  // position: absolute;
  // right: 26px;
}
