@import "../helpers/_variables.scss";

.about {
  background-color: $white;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 2fr;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 2fr;
  }
  &__content {
    line-height: 1.7rem;
    margin: 8% 0;
  }
  &__heading {
    font-size: 1.6rem;
    margin: 0;
    width: 100%;
  }
  &__image {
    background-image: url("../assets/hand.jpg");
    background-size: cover;
    display: none;
    height: 100%;
    opacity: 0.5;
    width: 100%;
    z-index: 1;
    @media screen and (min-width: 1024px) {
      display: block;
    }
  }
  &__image2 {
    background-image: url("../assets/klaudia2.JPG");
    background-size: cover;
    background-position: 10% 30%;
    height: 40vh;
    @media screen and (min-width: 768px) {
      background-position: center;
      left: 0;
      position: absolute;
      width: 35%;
      height: 100%;
      top: 0;
      z-index: 2;
      overflow: hidden;
    }
    @media screen and (min-width: 1024px) {
      height: 80%;
      left: 15%;
      top: 10%;
      width: 35%;
    }
  }
  &__text {
    align-items: flex-start;
    background-color: &white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8vw;
    @media screen and (min-width: 1024px) {
      padding: 15%;
    }
  }
}

.header {
  align-items: center;
  background-color: $beige;
  box-shadow: 0 0 10px 0 $white;
  display: flex;
  justify-content: space-between;
  padding: 6px 26px;
  width: 100%;
  &__contact {
    align-items: center;
    display: flex;
    justify-content: start;
  }
  &__heading {
    align-items: center;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, $green, $gold, $green, $gold);
    -webkit-background-clip: text;
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    justify-content: center;
    letter-spacing: 0.6rem;
    margin: 0;
    white-space: nowrap;
    text-transform: uppercase;
    @media screen and (min-width: 1024px) {
      font-size: 1.5rem;
      letter-spacing: 0.4rem;
    }
  }
  &__icon {
    align-items: center;
    color: $green;
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
    margin-right: 9px;
  }
  &__nameContainer {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.main {
  background-color: $white;
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    height: 80vh;
  }
  &__content {
    line-height: 1.7rem;
    margin: 8% 0;
  }
  &__heading {
    font-size: 1.8rem;
    margin: 0;
    @media screen and (min-width: 1050px) {
      font-size: 1.7rem;
    }
    @media screen and (min-width: 1200px) {
      font-size: 2rem;
    }
  }
  &__image {
    background-image: url("../assets/klaudia1.jpg");
    background-size: cover;
    padding: 6px;
    height: 70vh;
    width: 100%;
    @media screen and (min-width: 768px) {
      height: 70vh;
    }
    @media screen and (min-width: 1024px) {
      height: 100%;
    }
  }
  &__textContainer {
    background-color: $white;
    padding: 8vw;
    @media screen and (min-width: 1024px) {
      background-color: $green;
    }
  }
  &__text {
    background-color: $white;
    color: $fontColor;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    opacity: 0.9;
    padding: 0;
    position: relative;
    @media screen and (min-width: 1024px) {
      margin: 2%;
      padding: 26px;
      position: relative;
      width: auto;
    }
  }
  &__textBorder {
    background-color: transparent;
    border: 1px solid #fff;
    margin: 0;
    padding: 0;
    @media screen and (min-width: 1024px) {
      position: absolute;
      right: 100px;
      top: 180px;
      max-height: 60vh;
      overflow: hidden;
      max-width: 60vw;
    }
    @media screen and (min-width: 1300px) {
      max-width: 50vw;
    }
  }
}

.nav {
  &__hamburger {
    color: $green;
    font-size: 1.4rem;
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
  &__item {
    color: $green;
    font-size: 1.2rem;
    margin-right: 24px;
  }
  &__list {
    height: 100%;
    left: -100%;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
    transition: 1s ease;
    @media screen and (min-width: 1024px) {
      display: flex;
      justify-content: space-around;
      position: static;
    }
    &--open {
      color: $gold;
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: large;
      height: 100vh;
      justify-content: center;
      line-height: 3em;
      margin: 0;
      padding: 0;
      top: 0;
      left: 0;
      width: 100vw;
      transition: 1s ease;
      z-index: 1;
    }
  }
}

.quot {
  background-color: $beige;
  text-align: center;
  padding: 8vw;
  @media screen and (min-width: 1024px) {
    padding: 8% 16px;
  }
  &__content {
    margin: 0;
  }
  &__heading {
    line-height: 2rem;
    margin: 0;
    margin-bottom: 4%;
    opacity: 0.9;
  }
}

.footer {
  background-color: $darkGreen;
  color: #fff;
  padding: 30px 0 1px;
  text-align: left;
  &__article {
    display: flex;
    flex-direction: column;
    margin: 0 26px 30px;
    padding: 16px 0;
    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0;
      width: 80vw;
      margin: 0 auto 30px;
    }
    @media screen and (min-width: 1023px) {
      grid-template-columns: 1fr 2fr 2fr 1fr;
      padding: 0 7.5%;
      width: 100vw;
    }
  }
  &__author {
    border-top: 1px solid $beige;
    font-size: 0.8rem;
    padding: 2px 0;
    text-align: center;
  }
  &__contact {
    margin-bottom: 1.5rem;
  }
  &__container {
    text-align: center;

    @media screen and (min-width: 768px) {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    @media screen and (min-width: 1024px) {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &__endMargin {
    margin-right: 6px;
  }
  &__list {
    font-size: 0.9rem;
    list-style: none;
    margin-bottom: 1.5rem;
    padding: 0;
  }
  &__listSpecial {
    display: block;
  }
  &__logo {
    border-radius: 50%;
    margin: 0 0 32px;
    height: 150px;
    width: 150px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      padding: 10%;
    }
  }
  &__owner {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1.5rem;
  }
  &__special {
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0px;
  }
  &__specialMargin {
    margin-top: 1.5rem;
    @media screen and (min-width: 768px) {
      margin-top: 2.5rem;
    }
  }
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer h5 {
  color: $gold;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.alert {
  background-color: transparent;
  border: 1px solid $beige;
  color: $beige;
  font-size: 1rem;
  margin-bottom: 2rem;
  opacity: 0.8;
  width: 100%;
}
.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 10% 0;
  @media screen and (min-width: 1024px) {
    padding: 8vh 5%;
  }
  &__control {
    border: 0;
    border-radius: 0;
    color: $fontColor;
    font-size: 1rem;
    outline-color: transparent;
    margin: 6px;
    padding: 6px;
    width: 100%;
    &--message {
      height: 8rem;
    }
    &--file {
      font-size: 0.9rem;
    }
  }
  &__heading {
    margin: 2rem 0;
  }
  &__info {
    font-size: 0.8rem;
    text-align: left;
    width: 100%;
  }
}
.contactForm {
  text-align: center;
  overflow: hidden;
  background-color: $green;
  color: $white;
  padding: 0;
  &__heading {
    font-size: 1.6rem;
    margin: 0;
    text-transform: uppercase;
  }
}
.formArea {
  background-color: $beige;
  color: $fontColor;
  display: grid;

  @media screen and (min-width: 1024px) {
    height: 60vh;
    grid-template-columns: 1fr 1fr;
  }
  &__frame {
    box-shadow: 0 0 10px 0 rgba(41, 51, 65, 0.15);
    height: 20rem;
    @media screen and (min-width: 1024px) {
      border: 1px solid $gold;
      height: 80%;
      margin: auto;
      padding: 0.5rem;
      width: 25vw;
    }
  }
  &__img {
    height: 40vh;
    object-fit: cover;
    object-position: center;
    width: 100%;
    @media screen and (min-width: 1024px) {
      height: 100%;
      overflow: hidden;
    }
  }
}

.offer {
  background-color: $green;
  color: $white;
  padding: 8vw 8vw 0;
  // @media screen and (min-width: 1024px) {
  //   padding:  7.5%;
  // }
  &__content {
    margin: 4vw 0 8vw;
  }
  &__heading {
    font-size: 1.6rem;
    margin: 0;
  }
  &__img {
    height: 96%;
    width: 96%;
    margin: 2%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
  }
  // &__imgContainer {
  //   height: 150px;
  //   overflow: hidden;
  //   object-fit: cover;
  //   width: 150px;
  // }
  &__imgBorder {
    border: 1px solid $white;
    height: 100%;
    width: 100%;
  }
  &__item {
    width: 100%;
    margin: 0 0 8vw;
  }
  &__list {
    column-gap: 26px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  &__text {
    line-height: 1.7rem;
    opacity: 0.8;
  }
  &__title {
    color: $gold;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}

.button {
  background-image: linear-gradient(to left, $gold, $green);
  border: 0;
  bottom: 26px;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  padding: 16px;
  // position: absolute;
  // right: 26px;
}
